.container {
	padding: 75px 100px 100px 200px;
}

.setWidth {
	width: 200px;
}

.addPadding {
	padding: 8px;
}

.center {
	/* margin-left: 430px; */
	text-align: center;
}

.innerContainer {
	display: flex;
	column-gap: 20px;
	color: #222222;
}

.taskContainer {
	width: 300px;
	min-height: 400px;
	background-color: rgb(234, 235, 237);
	padding: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	border-radius: 10px;
}

.taskContainerHeader {
	padding: 12px;
}

.task {
	background-color: white;
	padding: 12px;
	border-radius: 5px;
}

.icons {
	float: right;
}

.icon {
	cursor: pointer;
	transform: scale(1.5);
}

.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
}

.modal-header,
.modal-footer {
	padding: 10px;
}

.modal-title {
	margin: 0;
}

.modal-body {
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
