.container {
	padding: 50px 100px 50px 200px;
}

.addTask {
	width: 200px;
}

.addPadding {
	padding: 8px;
}

.innerContainer {
	display: flex;
	column-gap: 20px;
	color: #222222;
}

.taskContainer {
	width: 250px;
	min-height: 400px;
	background-color: rgb(234, 235, 237);
	padding: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	border-radius: 10px;
}

.taskContainerHeader {
	padding: 12px;
}

.task {
	background-color: white;
	padding: 12px;
}
